.publication-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
    img {
        aspect-ratio: 1/1;
        max-height: 180px;
        margin: 10px;
    }
    .publication-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        .text {
            color: #4383CD;
            margin: 5px;
        }

        .title {
            font-size: 22px;
            font-weight: 700;
        }

        .conference {
            color: #3D77BA;
            opacity: 0.7;
            font-style: italic;
        }

        .links {
            border-top: 1px solid rgba(67,131,205,0.2);
            box-sizing: border-box;
            padding-top: 10px;
            margin-top: 10px;
            a {
                margin-right: 10px;
            }
        }

    }
}