.footer {
    display: flex;
    background-color: #4A90E1;
    min-height: 180px;
    color: white;
    align-items: center;
    .body {
        margin: 0px 20% 0px 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .title {
            font-size: 22px;
            font-weight: 700;
        }

        .footer-content {
            width: 100%;
            border-top: 1px solid white;
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            padding-top: 15px;
            padding-bottom: 30px;

            a {
                color: white;
                font-size: 20px;
                margin-right: 15px;
            }
        }
    }
}